body,ul,li,h1,h2,h3,h4,h5,h6,form,dl,dd{margin:0;padding:0;list-style:none}
body{color:#333;font-size:12px;font-family:"Microsoft YaHei",Simsun}
.wrap{font-size:12px;font-family:YaHei;line-height:26px}
img{border:0}
ul,LI{margin:0;padding:0;border-width:0;list-style-type:none}
a{color:#034b76;text-decoration:none}
a:hover{color:#e4393c;text-decoration:underline}
article,section,header,footer,aside,nav,img,iframe{display:block}
::selection{background-color:#e4393c;color:#fff}
::-moz-selection{background-color:#e4393c;color:#fff}
input::focus-inner{padding:0;border:0}
input{outline:0}
del{color:#666}
.cGray,.cGray:visited,a.cGray{color:#7f7f7f}
.cGray2,.cGray2:visited,a.cGray2{color:#999}
.cBlack,.cBlack:visited,a.cBlack{color:#000}
.cBlue,.cBlue:visited,a.cBlue{color:#3488ad}
.cRed,.cRed:visited,a.cRed{color:Red}
.cOrange,.cOrange:visited,a.cOrange{color:#e66d14}
.cGreen,a.cGreen:link,a.cGreen:visited{color:green}
.cLan,a.cLan:link,a.cLan:visited{color:#1da7ef}
.cPurple,a.cPurple:link,a.cPurple:visited{color:#ff0bff}
.cWhite,a.cWhite:link,a.cWhite:visited{color:#fff}
.yahei{font-family:"Microsoft YaHei",sans-serif}
.score{padding-right:2px;font-size:24px;font-weight:normal;color:#f90}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:"\20";line-height:0}
.clearfix{*zoom:1}
.clear{clear:both}
.z1{position:relative;z-index:1}
.fl{float:left}
.fr{float:right}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.fb{font-weight:bold}
.normal{font-weight:normal}
.f12{font-size:12px}
.f14{font-size:14px}
.f15{font-size:15px}
.f16{font-size:16px}
.f18{font-size:18px}
.lh18{line-height:18px}
.lh30{line-height:30px}
.h_auto{height:auto}
.p10{padding:10px}
.p15{padding:15px}
.pt15{padding-top:15px}
.pl10{padding-left:10px}
.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.plr10{padding-right:10px;padding-left:10px}
.ptb5{padding-top:5px;padding-bottom:5px}
.mt5{margin-top:5px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mb0{margin-bottom:0}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml15{margin-left:15px}
.ml5{margin-left:5px}
.mlr15{margin-right:15px;margin-left:15px}
.mlrauto{margin-right:auto;margin-left:auto}
.cfff{color:#fff}
.c333{color:#333}
.c666{color:#666}
.c999{color:#999}
.cccc{color:#ccc}
.htred,a.htred{color:#e4393c}
.cYellow,.cYellow:visited{color:#ff0}
.cGray,.cGray:visited,a.cGray{color:#7f7f7f}
.cGray2,.cGray2:visited,a.cGray2{color:#999}
.cBlack,.cBlack:visited,a.cBlack{color:#000}
.cBlue,.cBlue:visited,a.cBlue{color:#3488ad}
.cRed,.cRed:visited,a.cRed{color:Red}
.cOrange,.cOrange:visited,a.cOrange{color:#e66d14}
.cGreen,a.cGreen:link,a.cGreen:visited{color:green}
.cLan,a.cLan:link,a.cLan:visited{color:#1da7ef}
.cPurple,a.cPurple:link,a.cPurple:visited{color:#ff0bff}
.cWhite,a.cWhite:link,a.cWhite:visited{color:#fff}
.imgbordercOrange a img{border:1px solid #e2e2e2;padding:1px}
.imgbordercOrange a:hover img{border:1px solid #e66d14;padding:1px}
.w700{width:700px}
.w800{width:800px}
.w500{width:500px}
.w600{width:600px}
.w650{width:650px}
.w300{width:300px}
.w200{width:200px}
.w100{width:100px}
.w80{width:80px}
.border01{border-top:1px solid #e2e1e1}
.border02{border-top:1px dotted #e2e1e1}
.f10px{font-size:10px}
.f12px{font-size:12px}
.f14px{font-size:14px}
.f15px{font-size:15px}
.f16px{font-size:16px}
.f18px{font-size:18px}
.f20px{font-size:20px}
.f26px{font-size:26px}
.f30px{font-size:30px}
.f50px{font-size:50px}
.f60px{font-size:60px}
.lh180{line-height:180%}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh25{line-height:25px}
.lh30{line-height:30px}
.lh35{line-height:35px}
.theme-change{padding:18px}
.theme-change h3{font-size:26px;font-weight:400;padding-top:2px;padding-bottom:10px;color:#8e8e8e}
.theme-change .tab_menu li{float:left;height:30px;line-height:30px;cursor:pointer;text-align:center;font-size:14px;margin-top:0;margin-right:10px;margin-bottom:0;margin-left:1px;padding-right:20px;padding-left:20px;border-top-width:1px;border-right-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-left-style:solid;border-top-color:#9fc2df;border-right-color:#9fc2df;border-left-color:#9fc2df;border-radius:4px 4px 0 0;border-bottom-style:solid;border-bottom-color:#9fc2df}
.theme-change .tab_menu .selected{background-color:#e8eff7;cursor:pointer}
.theme-change .topNav{padding-top:10px;padding-left:8px;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding-bottom:8px;background-color:#e8eff7;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#9fc2df}
.theme-change .topNavNull{background-image:url(../images/topbgNav.gif);background-repeat:repeat-x;height:1px;background-position:top;padding:0}
.addinput{padding:18px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e7eaef}
.addinput li{padding-top:5px;padding-bottom:4px;color:#1b1b1b;font-family:Arial,Helvetica,sans-serif}
.addinput li span{color:#666}
.addinput li SELECT{color:#1b1b1b;font-size:14px}
.addinputInfo ul{margin:0;padding:0}
.addinputInfo li{margin-top:5px;padding:0;color:#b4b4b4;margin-bottom:5px}
.addinputInfo li span{font-size:12px}
.addinputInfo li strong{color:#333}
.addinputInfo li p{margin-top:0}
.addinputInfo li select{background-color:#fff;border:1px solid #ccc;display:inline-block;height:30px;padding:4px 6px;margin-bottom:9px;font-size:12px;line-height:20px;color:#555;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-top:0;#margin-top:0;#margin-bottom:0;#height:auto}
.addinputInfo li .text{border:1px solid #dadada;font-size:12px;float:left;display:inline-block;padding:4px 5px;width:156px;height:19px;min-width:16px;border:1px solid #bbb;background-color:#fff;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;line-height:20px;transition:border .2s linear 0,box-shadow .2s linear 0;font-family:yahei;color:#333}
.addinputInfo li .text2{border:1px solid #dadada;font-size:12px}
.addinputInfo li input{border-left:0;border-radius:0 4px 4px 0}
.addinputInfo .add-T,.addinputInfo .add-D,.addinputInfo .add-R,.addinputInfo .add-M,.addinputInfo .add-RMB{float:left;display:inline-block;padding:4px 5px;width:auto;height:19px;min-width:16px;border:1px solid #bbb;border-radius:4px 4px 4px 4px;background:#eee;text-align:center;text-shadow:0 1px 0 #fff;font-weight:normal;font-size:12px;line-height:19px;_width:18px}
.addinputInfo li .add-T{background:url(../images/addon_title.png) no-repeat center center;border-radius:0}
.addinputInfo li .add-D{background:url(../images/addon_slogan.png) no-repeat center center;border-radius:0}
.addinputInfo li .add-R{background:url(../images/addon_date.png) no-repeat center center;border-radius:0}
.addinputInfo li .add-M{background:url(../images/addon_memberadd.png) no-repeat center center;border-radius:0}
.addinputInfo li .add-RMB{background:url(../images/addon_rmb.png) no-repeat center center;border-radius:0}
.addinputInfo .pub-btn{width:178px;text-align:center;display:block;height:30px;line-height:26px\9;color:#fff;overflow:hidden;line-height:26px\9;border-radius:1px;font-size:16px;background-color:#ff6d00;padding-top:8px;font-family:"Microsoft YaHei";font-weight:400;cursor:pointer}
.addinputInfo .pub-btn:hover{color:#fff;background-color:#fe8c1d}
.failmsg{font-size:12px;color:red;margin-left:5px}
.failmsg{color:#900;background-image:url(../images/icorightwrg.gif);background-position:0 5px;height:20px;padding-left:20px;background-repeat:no-repeat;line-height:20px;padding-top:5px}
.Tag-list{z-index:1000;display:none;position:absolute;top:0;left:0;width:190px;padding:10px;background:#fff;border:solid 1px #cccaca;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;box-shadow:0 2px 4px rgba(34,25,25,0.5);-moz-box-shadow:0 2px 4px rgba(34,25,25,0.5);-webkit-box-shadow:0 2px 4px rgba(34,25,25,0.5)}
.Tag-list p{text-align:left;line-height:22px;padding:2px 0;margin:0;border:0}
.Tag-list span{font-weight:bold;color:#36c}
.Tag-list em.red{color:red;font-style:normal}
.Tag-list a{margin:0 5px}
#tagClose{font-size:12px;color:#f60;font-weight:800;cursor:pointer;position:absolute;top:2px;right:8px}
.Tag-list a{color:#221919;text-decoration:none;outline:0}
.Tag-list a{-webkit-transition-property:background-color,color;-webkit-transition-duration:.4s,.5s;-webkit-transition-timing-function:ease,ease;-moz-transition-property:background-color,color;-moz-transition-duration:.4s,.5s;-moz-transition-timing-function:ease,ease;-ms-transition-property:background-color,color;-ms-transition-duration:.4s,.5s;-ms-transition-timing-function:ease,ease;-o-transition-property:background-color,color;-o-transition-duration:.4s,.5s;-o-transition-timing-function:ease,ease;transition-property:background-color,color;transition-duration:.4s,.5s;transition-timing-function:ease,ease}
.Tag-list a:hover{color:#36c;text-decoration:underline}
.OpenFloatBoxBg{position:absolute;display:none;background:#666}
.OpenFloatBox{border:#999 1px solid;position:absolute;width:680px}
.OpenFloatBox .title{background:url(../images/72.gif) repeat-x;height:30px;color:#333}
.OpenFloatBox .title h4{line-height:16px;margin:0;float:left;font-size:14px;padding:7px 10px 0 10px}
.OpenFloatBox .title .DialogClose{width:30px;display:block;background:url(../images/72.gif) no-repeat 0 -30px;float:right;height:30px;cursor:pointer}
.OpenFloatBox .title .spanhover{background-position:0 -60px}
.OpenFloatBox .tip{line-height:30px;padding-left:26px;background:url(../images/72.gif) #fff no-repeat 0 -90px;height:30px;color:#f60}
.OpenFloatBox .selecteditem{border:#f96 1px solid;padding:10px 0;background-color:#fffeee;width:100%;display:none;color:red}
.OpenFloatBox .selecteditem .empty{color:#06c;cursor:pointer}
.OpenFloatBox .selecteditem label{padding-left:5px;width:115px;display:block;float:left;color:#390;cursor:pointer;margin-right:5px}
.OpenFloatBox .txt{padding:0 15px 15px 15px}
.OpenFloatBox .content{background-color:#fff;width:100%}
.OpenFloatBox .content .item{width:120px;float:left;height:20px;cursor:pointer;margin-right:5px}
.OpenFloatBox .content .item .titem{z-index:1;position:absolute;width:120px;display:block}
.OpenFloatBox .content .item .titemhover{border:#f90 1px solid;background-color:#fffef0;color:#f60;font-weight:bold}
.OpenFloatBox .content .item .sitem{z-index:2;border:#f90 1px solid;position:absolute;background-color:#fffef0;margin-top:20px;width:120px;display:none}
.OpenFloatBox .content .item .sitem label{padding-bottom:5px;line-height:23px}
.listpage2{padding:3px;font-size:.85em;margin:3px;font-family:tahoma,helvetica,sans-serif;text-align:right}
.listpage2 a{border:#ccdbe4 1px solid;padding:2px 8px;background-position:50% bottom;color:#0061de;margin:0 3px 0 0;text-decoration:none}
.listpage2 a:hover{border:#2b55af 1px solid;background-image:none;color:#fff;background-color:#3666d4}
.listpage2 a:active{border:#2b55af 1px solid;background-image:none;color:#fff;background-color:#3666d4}
.listpage2 span.current{padding:2px 6px;font-weight:bold;color:#000;margin:0 3px 0 0}
.listpage2 span.disabled{display:none}
.listpage2 a.next{border:#ccdbe4 2px solid;margin:0 0 0 10px}
.listpage2 a.next:hover{border:#2b55af 2px solid}
.listpage2 a.prev{border:#ccdbe4 2px solid;margin:0 10px 0 0}
.listpage2 a.prev:hover{border:#2b55af 2px solid}
.s1{BORDER-RIGHT:#cecece 1px solid;PADDING-RIGHT:6px;BORDER-TOP:#7c7c7c 1px solid;PADDING-LEFT:4px;FONT-SIZE:12px;PADDING-BOTTOM:4px;BORDER-LEFT:#7c7c7c 1px solid;PADDING-TOP:4px;BORDER-BOTTOM:#c3c3c3 1px solid;height:12px;background-color:#fff;background-image:url(../images/s.gif);background-repeat:no-repeat;background-position:0 0}
.s2{BORDER-RIGHT:#cecece 1px solid;PADDING-RIGHT:6px;BORDER-TOP:#7c7c7c 1px solid;PADDING-LEFT:4px;FONT-SIZE:12px;PADDING-BOTTOM:4px;BORDER-LEFT:#7c7c7c 1px solid;PADDING-TOP:4px;BORDER-BOTTOM:#c3c3c3 1px solid;background-color:#fff;background-image:url(../images/s.gif);background-repeat:no-repeat;background-position:0 0;font-family:Arial,Helvetica,sans-serif}
.in{color:#000;font-size:12px;padding-top:4px;font-family:Arial,Helvetica,sans-serif;height:28px;padding-right:5px;padding-bottom:4px;padding-left:5px}
.inBig{color:#fff3e1;font-size:22px;padding-top:4px;height:50px;padding-right:10px;padding-bottom:4px;padding-left:10px;background-color:#d55500;border-radius:4px 4px 4px 4px}
.boxlist{margin-top:8px;margin-bottom:8px}
.boxlist li{
	color:#256189;
	background-color:#dcebf5;
	border:1px solid #317eb4;
	float:left;
	margin-right:8px;
	margin-top:8px;
	margin-bottom:8px;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 2px;
}

.boxlist .actions{
	font-size: 12px;
	padding-top: 8px;
}
.boxlist .btns{display:;}.img_album_btn{top:0px;right:0px;position:absolute;background:#ff6fa6;color:#ffffff;height:20px;line-height:20px;width:56px;border-radius:3px;}.img_album_btn:hover{color:#fff;}

.infoContent{font-size:14px;line-height:25px;color:#1b1b1b}
.picList{padding:8px}
.picList li{font-size:12px;color:#1b1b1b;font-family:Arial,Helvetica,sans-serif;float:left;background-color:#f4f5f6;border:1px solid #c8cfda;margin:5px;padding:8px}
.picList li:hover{border-color:#ddd;background:#eee}
.picList li:hover{border-color:#e4393c}
.picList li p{padding-top:2px;padding-right:0;padding-bottom:1px;padding-left:0}
.smallbn{color:#fff;background-color:#53a8ec;height:22px;padding-right:3px;padding-left:3px;line-height:18px;border-radius:3px;_padding-top:3px;font-family:Arial,Helvetica,sans-serif;text-align:center;border-radius:2px 2px 2px 2px}
.inimg{color:#fff;font-size:12px;padding-top:3px;font-family:Arial,Helvetica,sans-serif;height:22px;padding-right:5px;padding-bottom:2px;padding-left:5px;background-color:#4388ce;margin:0;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#4388ce;border-right-color:#4388ce;border-bottom-color:#2d6cac;border-left-color:#2d6cac}
.ProductBuy{}
.ProductBuy li{

	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.ProductBuy p{
	font-size: 12px;

	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.ProductBuy-td{
	padding: 18px;
}
.ProductBuy-daoliu{
	background-color: #FFCECE;
	border: 1px solid #FF0000;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #AD181D;
}

.ProductBuy-bang{
	background-color: #E1FFE1;
	border: 1px solid #006600;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #004800;
}
.ProductBuy-wei{
	background-color: #FFCEFF;
	border: 1px solid #DD00DD;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #CA00CA;
}

.ProductBuy-shang{
	background-color: #FFDAC1;
	border: 1px solid #F06000;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #B04600;
}
.ProductBuy-other{
	background-color: #EAEAEA;
	border: 1px solid #575757;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #333333;
	text-align: left;
}

.ProductBuy-other p{
	line-height: 19px;
}.ProductBuy-other li{
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(../images/feedback.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 22px;
}
.ctrlList{
	width: 800px;
	margin-top: 20px;
}
.ctrlList h2{
	font-size: 26px;
	font-weight: 400;
	line-height: 36px;
}
.ctrlList h2 span{
	font-size: 12px;
	color: #666666;
	padding-left: 10px;
}